/* -------------------------------------------- Home css --------------------------------------------- */

#quote .et_pb_main_blurb_image img {
    width: 90px;
    height: 90px !important;
    border-radius: 50% !important;
    margin-top: 0px !important;
}


/* ----------------------------------------- End Home  --------------------------------------------- */


/* 
* edge-deployments Fixes
*/

.page-id-29045 .et_pb_row_3.et_pb_row,
.page-id-29045 .et_pb_row_6.et_pb_row,
.page-id-29057 .et_pb_row_3.et_pb_row,
.page-id-29057 .et_pb_row_5.et_pb_row,
.page-id-29057 .et_pb_row_9.et_pb_row,
.page-id-29057 .et_pb_row_10.et_pb_row,
.page-id-29051 .et_pb_row_3.et_pb_row,
.page-id-29051 .et_pb_row_5.et_pb_row,
.page-id-29051 .et_pb_row_6.et_pb_row,
.page-id-29063 .et_pb_row_3.et_pb_row,
.page-id-29063 .et_pb_row_5.et_pb_row,
.page-id-29063 .et_pb_row_9.et_pb_row,
.page-id-27585 .et_pb_row_3.et_pb_row,
.page-id-27585 .et_pb_row_5.et_pb_row,
.page-id-27585 .et_pb_row_6.et_pb_row,
.page-id-27585 .et_pb_row_8.et_pb_row,
.page-id-27585 .et_pb_row_9.et_pb_row,
.page-id-29068 .et_pb_row_3.et_pb_row,
.page-id-29068 .et_pb_row_4.et_pb_row,
.page-id-29068 .et_pb_row_6.et_pb_row,
.page-id-29068 .et_pb_row_5.et_pb_row {
    padding-bottom: 0px !important;
}

.page-id-27585 .et_pb_row_3.et_pb_row,
.page-id-27585 .et_pb_row_5.et_pb_row,
.page-id-27585 .et_pb_row_6.et_pb_row,
.page-id-27585 .et_pb_row_8.et_pb_row,
.page-id-27585 .et_pb_row_9.et_pb_row {
    padding-top: 45px !important;
    margin-top: 0 !important
}

.page-id-29045 .et_pb_slide_with_image .et_pb_slide_description {
    width: 55%;
}


/* 
* Security and Compliance Fixes
*/

.page-id-29057 .et_pb_row_8 {
    min-height: auto;
}


/* 
* Headless page / PWA Fixes
*/

.page-id-29051 .et_pb_section.et_pb_section_1,
.page-id-29063 .et_pb_section.et_pb_section_1,
.page-id-29068 .et_pb_section.et_pb_section_1,
.page-id-27585 .et_pb_section.et_pb_section_1,
.page-id-29060 .et_pb_section.et_pb_section_1,
.page-id-29057 .et_pb_section.et_pb_section_1,
.page-id-29071 .et_pb_section.et_pb_section_1 {
    background-image: linear-gradient(180deg, #f3f4f4 0%, rgba(250, 250, 250, 0) 50%)!important;
}


/*
* Generic fixes
*/

.et_pb_section .et_pb_button_2 {
    border-width: 1px !important;
}

.et_pb_gutters2 .et_pb_column_4_4 .et_pb_module {
    margin-bottom: 0 !important
}

@media only screen and (min-width: 981px) {
    .page-id-29057 .et_pb_video_0 {
        padding: 25px 0px;
    }
    .demo-form .et_pb_text_3,
    .demo-form .et_pb_text_4,
    .demo-form .et_pb_text_1 {
        max-width: 60% !important;
    }
}
