/* -------------------------------------------- Home css --------------------------------------------- */

#quote .et_pb_main_blurb_image img {
	width: 90px;
    height: 90px !important;
    border-radius: 50% !important;
	margin-top: 0px !important;
}

/* ----------------------------------------- End Home  --------------------------------------------- */
