/* -------------------------------------------- Home css --------------------------------------------- */

#quote .et_pb_main_blurb_image img {
	width: 90px;
    height: 90px;
    border-radius: 50%;
	margin-top: 0px;
}

/* ----------------------------------------- End Home --------------------------------------------- */
